# -------------------------------------------------------------------------------------------------
# Based on BuildFarm's examples: https://github.com/bazelbuild/bazel-buildfarm/tree/master/examples
# My only modification was the "root:" entry.
# -------------------------------------------------------------------------------------------------

